.contact {
    position: relative;
}

.contact__image {
    width: 100%;
    height: 100%;
}

.contact__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0000005a;
}

.contact__info {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 25px;
    font-family: 'Montserrat';
    text-align: center;
}

.contact__form input {
    width: 300px;
    padding: 10px;
    font-size: 12px;
    color: black;
}

.form__name,
.form__email,
.form__phone,
.form__message {
    margin-bottom: 10px;
}

.form__message textarea {
    width: 300px;
    height: 120px;
    padding: 5px 10px;
    font-size: 12px;
    color: black;
}

.form__button button {
    width: 100px;
    height: 30px;
    font-size: 15px;
    text-transform: capitalize;
    color: black;
    background-color: #ffcc33;
}

.contact__link {
    width: 240px;
}

.contact__title {
    width: 150px;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    border-bottom: 3px solid #FFCC33;
}

.contact__text {
    width: 150px;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 15px;
}

.contact__button {
    width: 60px;
    margin: 5px auto 0 auto;
    font-size: 12px;
    text-transform: capitalize;
    color: black;
    background-color: #ffcc33;
}

@media (min-width: 768px) {
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact__image {
        height: 600px;
    }

    .contact__info {
        top: auto;
        padding-top: 0;
    }

    .contact__title {
        width: 200px;
        padding-bottom: 5px;
        font-size: 30px;
    }

    .contact__text {
        width: 200px;
        padding-bottom: 20px;
        font-size: 15px;
        line-height: 18px;
    }

    .contact__form input {
        width: 300px;
        padding: 12px 10px;
        font-size: 12px;
    }

    .form__message textarea {
        height: 180px;
    }
}

@media (min-width: 1280px) {
    .contact {
        height: 700px;
    }

    .contact__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contact__title,
    .contact__text {
        width: 300px;
    }

    .contact__form {
        width: 500px;
        margin: 0 auto;
    }

    .contact__form input {
        width: 100%;
        margin-bottom: 10px;
        padding: 14px 10px;
        font-size: 15px;
    }

    .form__message textarea {
        width: 100%;
        height: 250px;
        font-size: 15px;
    }

    .form__name {
        margin-bottom: 15px;
    }
}
