.menu-mobile {
    position: relative;
    display: none;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 112px);
    padding: 20px 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    background-color: #fff;
}

.menu-desktop {
    display: none;
}

.menu-mobile.open {
    display: flex;
}

.menu-mobile li {
    width: 100%;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #acacac;
    border-bottom: 2px solid #d6d6d6;
}

.menu-mobile .selected {
    color: #535353;
    border-bottom: 2px solid #535353;
    background-color: #FFCC33;
}

.language {
    display: flex;
    justify-content: space-between;
}

.language a {
    padding: 7px;
}

.language a.active {
    color: #535353;
    background-color: #e2e2e2;
}

.spanish img, .english img {
    width: 30px;
    margin-right: 10px;
}

.spanish, .english {
    display: flex;
}


/* Menu Desktop */
@media (min-width: 768px) {
    .menu-mobile {
        display: none;
    }
    
    .menu-desktop {
        padding: 20px 200px;
    }
}

@media (min-width: 1280px) {
    .menu-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: auto;
        margin: 20px 80px;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: black;
        background-color: white;
    }
    
    .menu-desktop li {
        /* width: auto; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        height: 35px;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        color: #535353;
        border: none;
    }
    
    .menu-desktop .language {
        display: flex;
    }

    .menu__item:hover {
        color: #ffffff;
        border-bottom: 2px solid #535353;
        background-color: #a0a0a0;
    }

    .menu-desktop li:last-child {
        display: flex;
    }

    .menu-desktop .selected {
        color: #535353;
        border: none;
        background-color: #FFCC33;
    }
    
    .language a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        margin: 0;
    }

    .inactive {
        opacity: .2;
    }

    .inactive:hover {
        opacity: 1;
        color: #535353;
        background-color: #bfbfbf;
    }
}
