.services {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    width: 100vw;
    height: auto;
    padding: 20px;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.service__card {
    position: relative;
}

.service__image {
    background-repeat: no-repeat;
    background-size: cover;
}

.service__info {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-family: 'Montserrat';
    text-align: center;
}

.service__title {
    font-weight: 600;
    line-height: 17px;
    padding-bottom: 3px;
    border-bottom: 2px solid #ffcc33;
}

.service__text {
    font-size: 10px;
    line-height: 11px;
    margin: 3px;
}

.service__button {
    color: black;
    width: 60px;
    margin: 5px auto 0 auto;
    font-size: 12px;
    text-transform: capitalize;
    background-color: #ffcc33;
}

@media (min-width: 768px) {
    .service__title {
        /* width: 200px; */
        margin: 0 auto;
        padding-bottom: 5px;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        border-bottom: 3px solid #ffcc33;
    }

    .service__text {
        font-size: 15px;
        line-height: 18px;
        margin: 5px auto;
        width: 200px;
    }

    .service__button {
        width: 85px;
        margin: 5px auto;
        padding: 5px;
        font-size: 15px;
    }
}

@media (min-width: 1280px) {
    .services {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
    }

    .service__card {
        height: 25em;
    }
    
    .service__card a {
        height: 100%;
    }
    
    .service__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .service__card:nth-child(1n) {
        grid-column: 2 / 5;
        grid-row: 1 / 2;
    }

    .service__card:nth-child(2n) {
        grid-column: 5 / 8;
        grid-row: 1 / 2;
    }

    .service__card:nth-child(3n) {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    .service__card:nth-child(4n) {
        grid-column: 4 / 6;
        grid-row: 2 / 3;
    }

    .service__card:nth-child(5n) {
        grid-column: 6 / 8;
        grid-row: 2 / 3;
    }

    .service__card:nth-child(6n) {
        display: none;
    }
}
